<h1>Groups</h1>
<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>Group</th>
      <th></th>
    </tr>
  </thead>
  {{#groups}}
    <tr class="group-row">
      <td>{{.}}</td>
      <td>
        <a href="/groups/{{.}}/triggers">triggers</a>
        <a href="/groups/{{.}}/jobs">jobs</a>
      </td>
    </tr>
  {{/groups}}
</table>
